<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.svs.sportscalculator" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Inicio"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".primera.LigaEsp1Clas"
            android:label="@string/title_activity_liga_esp1_clas"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.svs.sportscalculator.Inicio" >
        </activity>
        <activity
            android:name=".primera.LigaEsp1Calc"
            android:label="@string/title_activity_liga_esp1_calc"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.svs.sportscalculator.Inicio" >
        </activity>
        <activity
            android:name=".primera.LigaEsp1ClasCalc"
            android:label="@string/title_activity_liga_esp1_clas_calc"
            android:theme="@style/AppTheme"
            android:parentActivityName="com.svs.sportscalculator.primera.LigaEsp1Calc" >
        </activity>
    </application>

</manifest>
